body {
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: rgb(18, 41, 75);
    border: none;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(19, 61, 109, 0.85);
}

#main-background {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}

.main-content {
    position: relative;
    top: -100vh;
    z-index: 2;
}

i {
    font-size: 18px;
}

/*
   Navbar Section
*/
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.navbar .form-dropdown .form-dropdown-menu input {
    margin-bottom: 10px;
}

.navbar .customize-buttons button, .navbar .form-dropdown a {
    width: 5rem;
}

/*
   Customize Buttons
*/
.customize-buttons {
    font-weight: 600;
}
.customize-buttons .dropdown-menu #colorPicker {
    width: 100%;
    height: 50px;
}

/*
   Main Counter
*/
h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 50px;
}

.counter {
    display: flex;
    justify-content: center;
}

.counter .counter-item {
    margin: 0 50px;
}

.counter .counter-item span {
    font-size: 70px;
    font-weight: 600;
}

/*** MOBILE ***/
@media only screen and (max-width: 499px) {
    .main-counter .counter {
        display: block;
    }
    .main-counter h1 {
        font-size: 30px;
    }
    .main-counter .counter-item {
        margin: 50px 0;
    }
    .main-counter .counter-item span {
        font-size: 40px;
    }
}