form {
  width: 100%;
}

.error-message {
  color: rgb(170, 0, 0);
}

.releaseDate {
  font-family: sans-serif;
  color: rgba(218, 240, 255, 0.555);
  margin-top: 5px;
}

.main-card {
  margin: 5px;
}

.icons-stack {
  margin: 20px 20px 0px 0px;
  color: rgb(150, 180, 206);
}