/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #565e66;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #313c53;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #30353b;
  }